In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
with open(r"C:\Users\Admin\Desktop\divyield.txt", 'r') as f:
    html = f.read()

In [10]:
# Parse HTML
soup = BeautifulSoup(html, 'html.parser')

# Extract table rows
rows = soup.find_all('tr')[1:]  # Skip header row

# Extract data
data = []
for row in rows:
    date = row.find_all('td')[0].text.strip()
    value = row.find_all('td')[1].text.strip()
    data.append([date, value])

# Create DataFrame
df = pd.DataFrame(data, columns=['Date', 'Value'])

# Display DataFrame
print(df)

              Date       Value
0     Oct 28, 2024  â€ \n1.26%
1     Oct 31, 2024  â€ \n1.28%
2     Sep 30, 2024  â€‚\n1.31%
3     Aug 31, 2024  â€‚\n1.33%
4     Jul 31, 2024  â€‚\n1.31%
...            ...         ...
1842  May 31, 1871  â€‚\n5.35%
1843  Apr 30, 1871  â€‚\n5.49%
1844  Mar 31, 1871  â€‚\n5.64%
1845  Feb 28, 1871  â€‚\n5.78%
1846  Jan 31, 1871  â€‚\n5.86%

[1847 rows x 2 columns]

In [11]:
# Step 1: Remove unwanted characters and extra whitespace
df['Value'] = df['Value'].str.replace(r'[^0-9.%]', '', regex=True)

# Step 2: Strip any remaining whitespace and ensure percentages are cleanly formatted
df['Value'] = df['Value'].str.strip()

In [13]:
df

              Date  Value
0     Oct 28, 2024  1.26%
1     Oct 31, 2024  1.28%
2     Sep 30, 2024  1.31%
3     Aug 31, 2024  1.33%
4     Jul 31, 2024  1.31%
...            ...    ...
1842  May 31, 1871  5.35%
1843  Apr 30, 1871  5.49%
1844  Mar 31, 1871  5.64%
1845  Feb 28, 1871  5.78%
1846  Jan 31, 1871  5.86%

[1847 rows x 2 columns]

In [14]:
df.to_csv(r"C:\Users\Admin\Desktop\GitHubPortfolio\RegimeForecasting\data\S&P500\SP500_divyield.csv", index=False)

In [15]:
with open(r"C:\Users\Admin\Desktop\sp500pe.txt", 'r') as f:
    html = f.read()

In [16]:
# Parse HTML
soup = BeautifulSoup(html, 'html.parser')

# Extract table rows
rows = soup.find_all('tr')[1:]  # Skip header row

# Extract data
data = []
for row in rows:
    date = row.find_all('td')[0].text.strip()
    value = row.find_all('td')[1].text.strip()
    data.append([date, value])

# Create DataFrame
df = pd.DataFrame(data, columns=['Date', 'Value'])

# Display DataFrame
print(df)

              Date       Value
0     Oct 28, 2024  â€ \n29.74
1      Oct 1, 2024  â€ \n29.38
2      Sep 1, 2024  â€ \n28.69
3      Aug 1, 2024  â€ \n27.96
4      Jul 1, 2024  â€ \n28.27
...            ...         ...
1842   May 1, 1871  â€‚\n12.15
1843   Apr 1, 1871  â€‚\n11.85
1844   Mar 1, 1871  â€‚\n11.52
1845   Feb 1, 1871  â€‚\n11.25
1846   Jan 1, 1871  â€‚\n11.10

[1847 rows x 2 columns]

In [17]:
# Step 1: Remove unwanted characters and extra whitespace
df['Value'] = df['Value'].str.replace(r'[^0-9.%]', '', regex=True)

# Step 2: Strip any remaining whitespace and ensure percentages are cleanly formatted
df['Value'] = df['Value'].str.strip()

In [18]:
df

              Date  Value
0     Oct 28, 2024  29.74
1      Oct 1, 2024  29.38
2      Sep 1, 2024  28.69
3      Aug 1, 2024  27.96
4      Jul 1, 2024  28.27
...            ...    ...
1842   May 1, 1871  12.15
1843   Apr 1, 1871  11.85
1844   Mar 1, 1871  11.52
1845   Feb 1, 1871  11.25
1846   Jan 1, 1871  11.10

[1847 rows x 2 columns]

In [19]:
df.to_csv(r"C:\Users\Admin\Desktop\GitHubPortfolio\RegimeForecasting\data\S&P500\SP500_PE.csv", index=False)